@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.container{
    display: flex;
    width: 90vw;
}

.panel{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    flex: 1;
    margin: 10px;
    position: relative;
    transition: all 700ms ease;
}
.panel h3{
   position: absolute;
   margin: 0;
   bottom: 20px;
   left: 10px;
  font-size: 24px;
  opacity: 0;
}
.panel.active{
    flex: 5;
}
.panel.active h3{
  opacity: 1;
  transition: opacity 0.3 ease-in 0.4s;
}
